.git
.idea
.venv
.env
.env.*
artifacts
.hyfhenet-cache
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
models/fhe
data/cloud
documentation/**/*.pdf
documentation/**/*.docx
documentation/**/*.png
documentation/**/*.PNG
WP2_T2_TPI4_D2A_progress_report.docx
